# Dependency directories
node_modules/

# Content directories
content

# Output directories
public
public.old
public.tmp

# Site specific content
src/templates/siteContent.json
src/templates/images
src/templates/static

# Dynamic files
data/

# Tests
coverage/