:root {
    --accent-colour: #ff8800;
    --accent-colour-dark: #cd6d00;
    --recipe-box-background: rgb(255, 240, 230);
    --style-box-light: rgb(255, 250, 240);
    --style-box-dark: rgb(235, 216, 206);
}

* {
    box-sizing: border-box;
    font-family: Georgia, serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.site-header {
    position: sticky;
    display: block;
    top: 0;
    z-index: 1000;
    background-color: rgb(230, 230, 230);
    font-size: 1.6rem;
    border-top: 2px solid var(--accent-colour);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.header-wide-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* To ensure height is consistent with site-title-block */
.header-wide-nav {
    display: flex;
}

.header-small-grouping {
    display: none;
}

.header-small-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 15px;
}

.header-small-nav {
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: right;
    font-size: 1.5rem;
    border-top: 2px solid var(--accent-colour);
}

.header-small-nav-active {
    display: flex;
}

.site-title-block {
    padding: 10px 30px;
    margin-right: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.site-title-block h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.site-title-block img {
    padding-right: 10px;
    max-height: 1.8rem;
}

.top-level-links {
    padding: 10px 30px;
}

.top-level-links,
.site-title-block {
    text-decoration: none;
    color: black;
}

.site-header a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.burger-container {
    margin: auto 0px;
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.burger-select .bar1 {
    transform: translate(0, 11px) rotate(45deg);
}

.burger-select .bar2 {
    opacity: 0;
}

.burger-select .bar3 {
    transform: translate(0, -11px) rotate(-45deg);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.intro-image {
    width: 100%;
    height: 20vw;
    max-width: 1800px;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toplevel-page-title {
    text-align: center;
    margin-top: 20px;
}

.toplevel-page-image {
    text-align: center;
    padding-bottom: 20px;
}

.toplevel-page-image img {
    width: 40px;
}

.intro-text-container {
    width: 75%;
    text-align: center;
}

.intro-text-title {
    padding-top: 15px;
    font-size: 2.5rem;
    font-weight: normal;
}

.intro-text-sub-title {
    font-size: 1.5rem;
}

.intro p {
    margin: 15px;
}

.post-thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px 4%;
    padding-bottom: 20px;
}

.post-thumbnail-container a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 350px;
}

.post-thumbnail {
    height: 100%;
    height: 340px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.post-thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.type-icon {
    position: absolute;
    margin: 8px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    right: 0;
}

.post-thumbnail img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.post-thumbnail-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0px 20px;
    padding-bottom: 5px;
}

.post-thumbnail-description {
    margin: 0px 10px;
}

.footer-content-page-container {
    max-width: 1200px;
    width: clamp(600px, 65%, 952px);
    margin: auto;
    font-size: 1.2rem;
}

.footer-item-container {
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-item-container a {
    margin: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.break-word {
    overflow-wrap: break-word;
}

/* Small device */
@media (max-width: 767px) {
    .header-small-grouping {
        display: block;
    }

    .header-wide-grouping {
        display: none;
    }

    .site-title-block {
        padding: 10px 10px;
        margin-right: 0;
    }

    .site-title-block h1 {
        font-size: clamp(1rem, 7vw, 1.5rem);
    }

    .site-title-block img {
        height: clamp(1rem, 7vw, 1.8rem);
    }

    .header-small-links {
        font-size: 1.4rem;
    }

    .intro-image {
        height: 40vw;
    }

    .intro-text-container {
        width: 95%;
    }

    .post-thumbnail-container {
        margin: 0 20px;
    }

    .post-thumbnail-title {
        margin: 0 5px;
        line-height: 1.3;
    }

    .post-thumbnail-description {
        line-height: 1.3;
    }

    .footer-content-page-container {
        width: 95%;
    }

    .footer-item-container {
        padding-left: 5px;
    }
}

/* Medium device */
@media (min-width: 768px) and (max-width: 991px) {
    .header-small-grouping {
        display: none;
    }

    .header-wide-grouping {
        display: flex;
    }

    .intro-image {
        height: 25vw;
    }

    .intro-text-container {
        width: 85%;
    }

    .footer-content-page-container {
        width: 80%;
    }

}