* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.nav-bar {
    position: sticky;
    display: block;
    top: 0;
    z-index: 1000;
    background-color: rgb(240, 240, 240);
    font-size: 1.5rem;
}

.navbar-wide-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar-small-grouping {
    display: none;
}

.navbar-small-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-small-links {
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
}

.navbar-small-links-active {
    display: flex;
}

.nav-bar a {
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.website-name {
    margin-right: 40px;
}

.nav-bar a:hover {
    background-color: rgb(180, 180, 180);
}

.burger-container {
    margin: auto 0px;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.burger-select .bar1 {
    transform: translate(0, 11px) rotate(45deg);
}

.burger-select .bar2 {
    opacity: 0;
}

.burger-select .bar3 {
    transform: translate(0, -11px) rotate(-45deg)
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.intro-image {
    width: 100%;
    height: 25vw;
    max-width: 2000px;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-text-header {
    padding-top: 15px;
    font-size: 2.5rem;
    font-weight: normal;
}

.intro-text {
    font-size: 1.5rem;
    font-weight: normal;
}

.intro p {
    margin: 15px;
}

.post-thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px 4%;
    padding-bottom: 20px;
}

.post-thumbnail-container a {
    text-decoration: none;
    color: black;
}

.post-thumbnail {
    cursor: pointer;
    width: 350px;
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.post-thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.typeIcon {
    position: absolute;
    margin: 8px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    right: 0;
}

.post-thumbnail img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.post-thumbnail-title {
    font-size: 1.5rem;
    margin: 10px 30px;
    padding-bottom: 5px;
}

.post-thumbnail-description {
    margin: 0px 10px;
}

.content-page-container {
    max-width: 1200px;
    width: clamp(600px, 65%, 950px);
    margin: auto;
    font-size: 1.2rem;
}

.content-image {
    display: block;
    margin: 5px auto;
    border-radius: 4px;
    width: 85%;
    height: auto;
}

.recipe-box {
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    box-shadow: 0 4px 12px black;
    padding: 20px 25px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-box h2 {
    margin-top: 5px;
}

.content-page-container table {
    border-collapse: collapse;
    margin: 15px;
    overflow: hidden;
    width: 100%;
}

.content-page-container thead th {
    font-weight: bold;
    border-bottom: 2px solid grey;
    text-align: left;
    padding: 5px;
}

.content-page-container tbody td {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.content-page-container table tr:hover {
    background-color: rgb(235, 235, 235);
}

/* Small device */
@media (max-width: 767px) {
    .navbar-small-grouping {
        display: block;
    }

    .navbar-wide-grouping {
        display: none;
    }

    .intro-image {
        height: 20vh;
    }

    .content-page-container {
        width: 95%;
    }
}

/* Medium device */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-small-grouping {
        display: none;
    }

    .navbar-wide-grouping {
        display: flex;
    }

    .content-page-container {
        width: 80%;
    }
}

.footer-item-container {
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-item-container a {
    margin: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}