:root {
    --accent-colour: #ff8800;
    --accent-colour-dark:  #cd6d00;
}

* {
    box-sizing: border-box;
    font-family: Georgia, serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.nav-bar {
    position: sticky;
    display: block;
    top: 0;
    z-index: 1000;
    background-color: rgb(230, 230, 230);
    font-size: 1.6rem;
}

.navbar-wide-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar-small-grouping {
    display: none;
}

.navbar-small-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-small-links {
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
}

.navbar-small-links-active {
    display: flex;
}

.nav-bar a {
    padding: 10px 30px;
    text-decoration: none;
    color: black;
}

.website-name {
    margin-right: 40px;
    text-align: center;
}

.nav-bar a:hover {
    background-color: rgb(180, 180, 180);
}

.burger-container {
    margin: auto 0px;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.burger-select .bar1 {
    transform: translate(0, 11px) rotate(45deg);
}

.burger-select .bar2 {
    opacity: 0;
}

.burger-select .bar3 {
    transform: translate(0, -11px) rotate(-45deg);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.intro-image {
    width: 100%;
    height: 20vw;
    max-width: 1800px;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-page-title {
    text-align: center;
    margin-top: 20px;
}

.menu-page-image {
    text-align: center;
    padding-bottom: 20px;
}

.menu-page-image img {
    width: 40px;
}

.intro-text-container {
    width: 75%;
    text-align: center;
}

.intro-text-title {
    padding-top: 15px;
    font-size: 2.5rem;
    font-weight: normal;
}

.intro-text-sub-title {
    font-size: 1.5rem;
}

.intro p {
    margin: 15px;
}

.post-thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px 4%;
    padding-bottom: 20px;
}

.post-thumbnail-container a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 350px;
}

.post-thumbnail {
    height: 100%;
    height: 340px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.post-thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.typeIcon {
    position: absolute;
    margin: 8px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    right: 0;
}

.post-thumbnail img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.post-thumbnail-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0px 20px;
    padding-bottom: 5px;
}

.post-thumbnail-description {
    margin: 0px 10px;
}

.content-page-container {
    max-width: 1200px;
    width: clamp(600px, 65%, 950px);
    margin: auto;
    font-size: 1.2rem;
}

.content-image {
    display: block;
    margin: 5px auto;
    border-radius: 4px;
    width: 75%;
    height: auto;
}

.recipe-box {
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    box-shadow: 0 4px 12px black;
    margin: 40px 20px;
    padding: 20px 25px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 80px;
}

.jump-to-recipe {
    cursor: pointer;
    padding: 5px 8px;
    font-size: 1.1rem;
    color: white;
    background-color: var(--accent-colour);
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.jump-to-recipe:hover {
    background-color: var(--accent-colour-dark);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 3px;
}

.recipe-box .content-image {
    width: 60%;
}

.recipe-box h2 {
    margin-top: 5px;
}

input[type="checkbox"] {
    accent-color: var(--accent-colour);
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

/* Line through sub lists when parent is checked */
input[type="checkbox"]:checked + label + ul {
    text-decoration: line-through;
}

input[type="checkbox"] {
    transform: scale(1.3);
    margin: 5px;
}

/* Don't display bullet point where checkbox is displayed */
.ingredient-item-checkbox {
    list-style: none;
}

/* Since bullet points are not displayed for checkboxes, remove some of the padding on parent ul */
ul:has(> .ingredient-item-checkbox) {
    padding-left: 25px;
}

.content-page-container .table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.content-page-container table {
    border-collapse: collapse;
    margin: 15px;
    overflow: hidden;
    width: 100%;
}

.content-page-container thead th {
    font-weight: bold;
    border-bottom: 2px solid grey;
    text-align: left;
    padding: 5px 10px;
    white-space: nowrap;
}

.content-page-container tbody td {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.content-page-container table tr:hover {
    background-color: rgb(235, 235, 235);
}

.footer-item-container {
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-item-container a {
    margin: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.break-word {
    overflow-wrap: break-word;
}

/* Small device */
@media (max-width: 767px) {
    .navbar-small-grouping {
        display: block;
    }

    .navbar-wide-grouping {
        display: none;
    }

    .burger-container {
        padding-right: 5px;
    }

    .nav-bar a {
        padding: 10px 10px;
    }

    .website-name {
        margin-right: 0px;
    }

    .intro-image {
        height: 40vw;
    }

    .intro-text-container {
        width: 95%;
    }

    .content-page-container {
        width: 95%;
    }

    .post-thumbnail-container {
        margin: 0 20px;
    }

    .post-thumbnail-title {
        margin: 0 5px;
        line-height: 1.3;
    }

    .post-thumbnail-description {
        line-height: 1.3;
    }

    .recipe-box {
        margin: 40px 10px;
        padding: 20px 15px;
    }

    .footer-item-container {
        padding-left: 5px;
    }
}

/* Medium device */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-small-grouping {
        display: none;
    }

    .navbar-wide-grouping {
        display: flex;
    }

    .intro-image {
        height: 25vw;
    }

    .content-page-container {
        width: 80%;
    }

    .intro-text-container {
        width: 85%;
    }
}
